/.vs
/.vscode
/src/.vs
/src/BlazorPractice.Client/bin
/src/BlazorPractice.Client/obj
/src/BlazorPractice.Shared/bin
/src/BlazorPractice.Shared/obj
/src/BlazorPractice.Server/bin
/src/BlazorPractice.Server/obj