@page "/layout1"

<div id="page">
    <header id="page-header">page-header</header>
    <div id="page-body">
        <div id="page-body-l">
            page-body-l
            <div style="height: 800px; background: blue;">
                page-body-l
            </div>
        </div>
        <div id="page-body-main">
            <div id="page-body-main-content">
                <div style="height: 1000px; width: 1800px; background: yellow;">
                    ...
                </div>
            </div>
            
            <div id="page-body-main-footer">
                这里是尾部
            </div>
        </div>
        <div id="page-body-r">
            ...
            <div style="height: 1000px; background: pink;">
                ...
            </div>
        </div>
    </div>
    <footer id="page-footer">这里是尾部</footer>
</div>

@code {

}
