@page "/layout1-1"

<div id="page">
    <nav id="page-header" class="navbar navbar-expand-lg bg-warning">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#siderbar" aria-controls="siderbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-align-center" style="font-size: 1.5rem;"></span>
            </button>
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="page-body">
        <div id="page-body-l">
            <div class="collapse" id="siderbar">
                siderbar
            </div>
        </div>
        <div id="page-body-main">
            <div id="page-body-main-content">
                <div style="height: 1000px; width: 1800px; background: yellow;">
                    ...
                </div>
            </div>
            
            <div id="page-body-main-footer">
                这里是尾部
            </div>
        </div>
        <div id="page-body-r">
            ...
            <div style="height: 1000px; background: pink;">
                ...
            </div>
        </div>
    </div>
    <footer id="page-footer">这里是尾部</footer>
</div>

@code {

    

}
