<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorPractice.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <hr class="bg-light mt-2" />
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 生成待办事项 (Todo)
            </NavLink>
        </div>
        <hr class="bg-light mt-2" />
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="form-example-1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 窗体和验证 / 绑定窗体
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="form-example-2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 窗体和验证 / 窗体提交1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="form-example-3">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 窗体和验证 / 窗体提交2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="input-file">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 窗体和验证 / InputFile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bind-multiple-with-inputselect">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 窗体和验证 / InputSelect
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="form-example-4">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 窗体和验证 / 基本验证
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="form-example-5">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 窗体和验证 / 验证程序
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="form-example-6">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 窗体和验证 / 服务端验证
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="form-example-7">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 窗体和验证 / 输入事件
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="single-select-example">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 窗体和验证 / 单选按钮
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="form-example-8">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 窗体和验证 / ...
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
