@inject ILogger<Sidebar> Logger

<div class="collapse mb-5" id="sidebar" @onclick="CollapseSidebar">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house pr-2 text-primary" aria-hidden="true"></i>  Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/counter" Match="NavLinkMatch.Prefix">
                <span class="bi bi-plus-lg text-warning" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/fetchdata">
                <span class="bi bi-bounding-box text-danger" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/todo">
                生成待办事项 (Todo)
            </NavLink>
        </div>
        <div class="nav-item-header">
           <i class="bi bi-collection text-primary"></i> 窗体验证
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/form-example-1">
                绑定窗体
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/form-example-2">
                窗体提交1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/form-example-3">
                窗体提交2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/input-file">
                InputFile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/bind-multiple-with-inputselect">
                InputSelect
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/form-example-4">
                基本验证
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/form-example-5">
                验证程序
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/form-example-6">
                服务端验证
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/form-example-7">
                输入事件
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/single-select-example">
                单选按钮
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/form-example-8">
                自定义验证CSS类
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/form-example-9">
                基于窗体验证启用提交按钮
            </NavLink>
        </div>
        <div class="nav-item-header">
           <i class="bi bi-collection text-primary"></i> 路由和导航
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/route-parameter">
                路由参数
            </NavLink>
            <NavLink class="nav-link" href="/route-constraints">
                路由约束
            </NavLink>
            <NavLink class="nav-link" href="/route-catch-all">
                catch-all 路由参数
            </NavLink>
            <NavLink class="nav-link" href="/navigate">
                位置更改
            </NavLink>
            <NavLink class="nav-link" href="/search">
                查询字符串
            </NavLink>
        </div>  
        <div class="nav-item-header">
           <i class="bi bi-collection text-primary"></i> 配置
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/configuration-example">
                读取配置
            </NavLink>
            <NavLink class="nav-link" href="/memory-config">
                内存中的配置 
            </NavLink>
            <NavLink class="nav-link" href="/authentication-config">
                身份认证配置 
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapsSidebar = false;

    //private string? SidebarCssClass => collapsSidebar ? "" : "show";

    private void CollapseSidebar()
    {
        //Logger.LogInformation(collapsSidebar.ToString());
        //collapsSidebar = true;

        //collapsSidebar = !collapsSidebar;
        //Logger.LogInformation(SidebarCssClass);

        //Logger.LogInformation("Sidebar Clicked");
    }

}
