@inherits LayoutComponentBase
@layout MainLayout

<div id="page-body-l" class="bg-light border-end">
    <TutorialSidebar/>
</div>
<div id="page-body-main">
    <div id="page-body-main-content" class="content p-4">
        @Body
    </div>
    @*<div id="page-body-main-footer">
        这里是尾部
    </div>*@
</div>
@*<div id="page-body-r">
    ...
</div>*@


@code {

}
