@page "/form-example-2"
@using Microsoft.Extensions.Logging
@inject ILogger<FormExample2> Logger

<PageTitle>@pageTitle</PageTitle>

<div class="alert alert-warning">
    同上
</div>

<h1>@pageTitle</h1>

@code {
    private string pageTitle = "窗体提交";
}
