@page "/form-example-1"

<PageTitle>Blazor 窗体和验证</PageTitle>

<div class="alert alert-warning">
    From: ..
</div>
@*<div class="row">
    <div class="col-auto">
        了解如何：
        <ul>
            <li>
                创建待办事项列表 Blazor 应用项目
            </li>
            <li>
                修改 Razor 组件
            </li>
            <li>
                在组件中使用事件处理和数据绑定
            </li>
            <li>
                在 Blazor 应用中使用路由
            </li>
        </ul>
        在本教程结束时，你将拥有一个正常运行的待办事项列表应用。
    </div>
</div>*@
<hr />

<h1>FormExample1</h1>

@code {

}
