@page "/form-example-2"
@using Microsoft.Extensions.Logging
@inject ILogger<FormExample2> Logger

<PageTitle>@pageTitle</PageTitle>

<div class="alert alert-success">
    <p>
        来源：<a href="https://docs.microsoft.com/zh-cn/aspnet/core/blazor/forms-validation?view=aspnetcore-6.0#example-form" target="_blank">link</a>
    </p>
    <h5>
        知识点
    </h5>
    <ul>
        <li>
            通过 Model 绑定窗体并提交，并获得验证信息。
        </li>
        <li>
            错误消息模板，注意观察 ProductionDate 的错误消息。
        </li>
    </ul>
</div>

<hr />

<h1>@pageTitle</h1>

<h4>New Ship Entry Form</h4>

<EditForm Model="@starship" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Identifier:</label>
            <InputText class="form-control" @bind-Value="starship.Identifier" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Description (optional):</label>
            <InputTextArea class="form-control" @bind-Value="starship.Description" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Primary Classification:</label>
            <InputSelect class="form-control" @bind-Value="starship.Classification">
                <option value="">Select classification ...</option>
                <option value="Exploration">Exploration</option>
                <option value="Diplomacy">Diplomacy</option>
                <option value="Defense">Defense</option>
            </InputSelect>
        </div>
        <div class="col-md-6">
            <label class="form-label">Maximum Accommodation:</label>
            <InputNumber class="form-control" @bind-Value="starship.MaximumAccommodation" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Engineering Approval:</label>
            <div class="form-check">
                <InputCheckbox class="form-check-input" @bind-Value="starship.IsValidatedDesign" id="gridCheck" />
                <label class="form-check-label" for="gridCheck">
                    Yes
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <label class="form-label">Production Date:</label>
            <InputDate class="form-control" @bind-Value="starship.ProductionDate" 
                DisplayName="Production Date" ParsingErrorMessage="The {0} field has an incorrect date value." />
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>

</EditForm>

@code {
    private string pageTitle = "窗体提交1";

    private Starship starship = new() { ProductionDate = DateTime.UtcNow };

    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        // Process the valid form
    }
}
