@page "/render-fragment-parent-1"
@layout Layout

<div style="flex-direction: row;">

    <h1>Render child content</h1>

    <RenderFragmentChild>
        Content of the child component is supplied
        by the parent <b class="text-danger">component</b>.
    </RenderFragmentChild>

</div>
