@page "/render-fragment-parent-2"
@layout Layout

<div style="flex-direction: row;">

    <h1>Render child content</h1>

    <h4>使用 for 循环</h4>

    @for (int c = 0; c < 3; c++)
    {
        var current = c;

        <RenderFragmentChild>
            Count: @current
        </RenderFragmentChild>
    }

     <h4>使用 foreach 循环</h4>

    @foreach (var c in Enumerable.Range(0, 3))
    {
        <RenderFragmentChild>
            Count: @c
        </RenderFragmentChild>
    }

    <h4>任意位置呈现片段</h4>

    @RenderWelcomeInfo

    <p>Render the welcome info a second time:</p>

    @RenderWelcomeInfo

</div>

@code{

    private RenderFragment RenderWelcomeInfo = __builder =>
    {
        <p>Welcome to your new app!</p>
    };

}
