@page "/route-constraints"
@layout Layout

<PageTitle>@pageTitle</PageTitle>

<div class="alert alert-success">
    <p>
        来源：<a href="https://docs.microsoft.com/zh-cn/aspnet/core/blazor/fundamentals/routing?view=aspnetcore-6.0#route-constraints" target="_blank">link</a>
    </p>
    <h5>
        知识点
    </h5>
    <ul>
        <li>
           ...
        </li>
    </ul>
</div>

<hr />

<h1>@pageTitle</h1>

<br />

<code>
    @@page "/user/{Id:int}"
</code>
<br />
<code>
    @@page "/user/{Id:int?}"
</code>
<br />
<code>
    @@page "/user/{Id:int}/{Option:bool?}"
</code>
<p>
    
</p>

@code {
    private string pageTitle = "路由约束";

    //protected override void OnInitialized()
    //{
    //    Text = Text ?? "fantastic";
    //}


}
