#page[b-e1daveqywk] {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#page-header[b-e1daveqywk] {
    /*height: 3.5rem;*/
    background: aqua;
    flex-shrink: 0;
}

#page-body[b-e1daveqywk] {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: auto;
    position: relative;
}

#page-body-l[b-e1daveqywk] {
    background: red;
}

#page-body-r[b-e1daveqywk] {
    background: red;
}

#page-body-main[b-e1daveqywk] {
    background: cornflowerblue;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#page-body-main-content[b-e1daveqywk] {
    background: cornflowerblue;
    flex: 1;
}

#page-body-main-footer[b-e1daveqywk] {
    height: 2rem;
    background: #2eb26d;
    flex-shrink: 0;
}

#page-footer[b-e1daveqywk] {
    height: 2rem;
    background: coral;
    flex-shrink: 0;
}

/* 屏宽 <= 640 */
@media (max-width: 640.98px) {

    #page-body[b-e1daveqywk] {
        flex-direction: column;
    }

    #page-body-l[b-e1daveqywk] {
    }

    #page-body-main[b-e1daveqywk] {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
    }

    #page-body-r[b-e1daveqywk] {
        display: none;
    }
}

/* 屏宽 >= 640 */
@media (min-width: 641px) {

    #page-body-l[b-e1daveqywk] {
        width: 250px;
        position: sticky;
        top: 0;
        overflow-y: auto;
    }

    #page-body-r[b-e1daveqywk] {
        width: 200px;
        position: sticky;
        top: 0;
        overflow-y: auto;
    }

    /* 宽屏时设置 page-body-main-content 内容滚动。 */
    #page-body-main[b-e1daveqywk], #page-body-main-content[b-e1daveqywk] {
        overflow: auto;
    }

    #sidebar[b-e1daveqywk] {
        display: block;
    }
}
